/** @format */
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
}
.nav_item {
	height: 50px;
	width: 50px;
	cursor: pointer;
}
